# data
data/processed
data/raw
data/libreface_output
data/libreface_out
data/libreface_weights
tmp/

# model weights
*.model
*.pth
*.pt

# save files
*.save

# python
__pycache__/
*.pyc
.env/

# experiments
experiments/logs/
experiments/results/

*.egg-info/
.aider*
.env
